<h2>
  <%= @recipe.name %>
</h2>

<div class='show-recipe'>
<div class='show-recipe-left'>
<p>Preparation time: <%= @recipe.prepation_time %> hours</p>
<%= form_for @recipe, url: recipe_path(@recipe), method: :patch, remote: true do |f| %>
  <div> Public
    <%= f.check_box :public%>
  </div>
  <%= f.submit "Save" %>
<% end %>
</div>

<p>Cooking time: <%= @recipe.cooking_time %> hours</p>
<p>Steps go here...</p>
<div class='show-recipe-left'>
<button> <%= link_to "General shopping list", shopping_list_path %></button>
<button class="new-button"> <%= link_to "Add ingrediant", new_recipe_recipe_food_path(@recipe), class:"new-recipe" %> </button>
</div>
<hr>
<%= render partial: 'shared/table', locals: {foods: @foods, view: 'recipes'} %>
</div>


