<tr class="body-elements <%= index % 2 == 0 ? 'even-row' : 'odd-row' %>">
<td class="row-element"> <%=food.name%> </td>
<% if view== 'foods'%>
    <td class="row-element"> <%=food.measurement_unit%> </td>
    <td class="row-element"> $<%=food.price%> </td>
    <td class="row-element"> <%=food.quantity%> </td>
<% else %>
    <% recipe_food = food.recipe_foods.find_by(recipe_id: @recipe.id) %>
    <td class="row-element"> <%=recipe_food.quantity%> </td>
    <td class="row-element"> $<%=recipe_food.calculate_value_by_quantity%> </td>
<% end %>
<td class="row-element">
<% if can? :destroy, food %>
<div class="button-cnt">
    <% if view== 'recipes'%>
    <button class="new-button"> Modify </button>
    <% end %>
    <%= button_to "Delete", food, method: :delete, data: {confirm: "Are you sure?"}, class:"new-button" %>
</div>
<% end %>
</td>
</tr>
