<%= form_with model: @food, url: foods_path, class: 'form' do |form| %>
    <h1 class="new-recipe-title"> New Food </h1>
    <div class="field">
        <%= form.label :name, class:"name-label" %>
        <%= form.text_field :name, placeholder:"name", class:"name-input", required: true %>
    </div>
    <div class="field">
        <%= form.label :prepation_time, class:"name-label"%>
        <%= form.select :measurement_unit, options_for_select(['gr', 'lt', 'oz', 'units'], 'units') ,placeholder: "measurement unit", class:"name-input" %>
    </div>
    <div class="field">
        <%= form.label :cooking_time, class:"name-label"%>
        <%= form.number_field :price,placeholder:"price", class:"name-input", required: true, step: '0.01' %>
    </div>
    <div class="field">
        <%= form.label :description, class:"name-label" %>
        <%= form.number_field :quantity, placeholder: "quantity",class:"name-input", required: true, min: 1, step: '0.01' %>
    </div>
    <div class="field">
        <%= form.submit "Add Food", class:"new-button" %>
    </div>
    <%end%>